:root {
  --greyGreen: rgb(161, 166, 164);
  --forestGreen: rgb(48, 64, 37);
  --blueWhite: rgb(242, 242, 242);
  --darkBrown: rgb(48, 64, 37);
}


html {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

html li {
  list-style-type: none;
}

body {
  background-color: rgb(198, 136, 20, 0.4);
  /* color: */
}

h1, h2 {
  color: #333;
  margin-bottom: 15px;
}

h1 {
  border-bottom: 1px solid #280707;
  padding-bottom: 10px;
}

nav {
  background-color: var(--greyGreen);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-flow: row wrap;
  /* border: 2px solid black; */
}

nav a {
  color: var(--forestGreen);
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px;
  border: 2px solid var(--blueWhite);
  border-radius: 25px;
  margin: 5px;
  text-decoration: none;
}

nav a:hover {
  color: var(--darkBrown);
  text-decoration: underline;
  background-color: var(--blueWhite);
}

a:active {
  
}
a:visited {
  
}

a:hover {
  text-decoration: underline;
}

section {
  
  font-size:large;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--darkBrown);
  text-decoration: underline;
  background-color: var(--blueWhite);
}

.btn {
  padding: 5px;
  margin-top: 3px;
}

.btn:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--darkBrown);
  text-decoration: underline;
  background-color: var(--blueWhite);
}

.submit-btn {
  background-color: var(--blueWhite);
  margin-bottom: 5px;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 2px solid #d3a9a9;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr {
  /* border: 3px solid black;
  border: 3px solid var(--blueWhite);
  */
  /* border: 3px solid var(--darkBrown); */
  border: 3px solid var(--forestGreen); 

}

table tr:nth-child(even) {
  background-color: var(--greyGreen);
}

form {
  background-color: var(--greyGreen);
  border: 2px solid #ddd;
  border-radius: 4px;
}

legend {
  font-size: 16px;
  font-weight: bold;
}

fieldset {
 
}

label {
  font-weight: bold;
}

select {
  border-radius: 5px;
  margin-left: 10px;
}

.cars-purchases-container {
  
}

.cars-purchases-container h2{
  margin-bottom: 20px;
}

.cars-purchases-container button{
  margin-bottom: 10px;
  margin-top: 10px;
}

.cars-purchases-container form fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#removeCarPurchase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* .employee-page-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
} */

.table-container {
  margin-bottom: 30px;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.edit-form {
  padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  margin-left: 10px;
}